# Compiled smart contracts
/build
/cache

# Hardhat files
/hardhat.config.js
/hardhat.config.ts
/typechain-types

# Dependencies
/node_modules

# Misc
.DS_Store

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
